# === Node modules ===
**/node_modules/

# === Logs ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# === System files ===
.DS_Store
Thumbs.db

# === Editor directories ===
.vscode/
.idea/

# === Build outputs ===
dist/
build/
out/
coverage/

# === Vite/React cache ===
frontend/.vite/
frontend/.cache/

# # === Docker ===
# **/docker-compose.override.yml
# **/.dockerignore

# === TypeScript ===
**/*.tsbuildinfo

# === Vite/Metadata ===
frontend/node_modules/.vite/
frontend/node_modules/vite/deps/_metadata.json

# # === MySQL init dump (если временное) ===
# mysql-init/*.sql

# === Misc ===
*.swp
*.swo
*.bak
*.tmp
